h1 Comentarios

h2 Linea
// This is a one line comment

h2 No en HTML
//- This comment will not output within markup

h2 Bloque
//-
	Comments for your template writers.
	Use as much text as you want.
//
	Comments for your HTML readers.
	Use as much text as you want.