.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.no-margin {
	margin: 0 !important;
}

.spacer {
	padding-top: 30px;
	&:before {
		content: '';
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.row {
	margin-left: 15px;
    margin-right: 15px;
    @extend .flex;
}

.container-fluid {
	padding-left: 15px;
    padding-right: 15px;
}

.row-fixed {
	.container-fluid {
	    max-width: 1200px;
	    margin-left: auto;
    	margin-right: auto;
	}
}

.cell {
    @extend .flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-9, .col-sm-12 {
	float: left;
}

.col-sm-3 {
	width: 25%;
}

.col-sm-4 {
	width: 33.3333%;
}

.col-sm-6 {
	width: 50%;
}

.col-sm-8 {
	width: 66.6666%;
}

.col-sm-9 {
	width: 75%;
}

.col-sm-12 {
	width: 100%;
}