mixin list(link, cssClass)
	li
		a(href=link)
			i(class=cssClass)

footer
	.container-fluid
		.row.bottom-footer.text-center-mobile
			.col-sm-8
				p!= '&copy; 2015 All Rights Reserved. Powered by ' + '<a href="http://www.phir.co/">PHIr</a>' + ' exclusively for ' + '<a href="http://tympanus.net/codrops/">Codrops</a>'
			.col-sm-4.text-right.text-center-mobile
				ul.social-footer
					+list('http://www.facebook.com/pages/Codrops/159107397912', 'fa fa-facebook')
					+list('http://www.twitter.com/codrops', 'fa fa-twitter')
					+list('https://plus.google.com/101095823814290637419', 'fa fa-google-plus')