// - - - - - - - - - - - - - - - - - - - - - - - - - - 
//  HEREDAR LA ESTRUCTURA BASICA DE UN DOCUMENTO HTML 5 
// - - - - - - - - - - - - - - - - - - - - - - - - - -  
doctype html
html(lang='en')
	head
		block metas
		block title
		block head_links
	body
		block scripts
		block menu
		block condicionales
		block ciclos
		block footer