html {
	min-height: 100%;
	background: linear-gradient(#B5C7FF, #5991FF);
}

body {
	min-height: 100%;
	font: 16px Arial;
}

h1 {
	text-align: center;
}

h1 img {
	width: 3%;
	margin-left: 5px;
}

h2 {
	text-align: center;
	margin: 0 auto;
}

section {
	background-color: #fff;
	margin: 20px auto;
	padding: 20px;
}

section div {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 4px;
}

xmp {
	width: 100%;
	font-size: 14px;
}

section div.ejemplo {
	background-color: #869EAB;
	text-align: center;
	transition: all 0.5s;
}

section div.ejemplo:hover {
	background-color: #6D7AAB;
	cursor: pointer;
}

div.container {
	margin: 0 auto;
	width: 100%;
}

div.row {
	float: left;
}